/* MAIN COMPONENTS CSS START */
html {
	height: 100%;
	font-family: sans-serif;
}

body {
	height: 100%;
	margin: 0;
	font-size: 16px;
}

#root {
	display: flex;
	flex-direction: column;
	height: 100%;
}
/* MAIN COMPONENTS CSS END */

/* NAVIGATION BAR MENU CSS START */
.menu-item-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style-type: none;
	padding: 5px 15px;
}

.menu-item-container .menu-item {
	margin: 0 15px;
}

.menu-item-container a {
	text-decoration: none;
	font-weight: 700;
	color: #606770;
	transition: color 0.3s;
}

.menu-item-container a:hover {
	color: #1a6891;
}

.menu-item-container .selected {
	color: #1a6891;
}
/* NAVIGATION BAR MENU CSS END */

/* PLAYGROUND PAGE CSS START */
.pg-container {
	flex: 1 1 auto;
	background-color: #f5f5f5;
	background: linear-gradient(-90deg, rgba(0, 0, 0, 0.02) 1px, transparent 0),
		linear-gradient(rgba(0, 0, 0, 0.02) 1px, transparent 0),
		linear-gradient(-90deg, rgba(0, 0, 0, 0.03) 1px, transparent 0),
		linear-gradient(rgba(0, 0, 0, 0.03) 1px, transparent 0),
		linear-gradient(transparent 4px, #f5f5f5 0, #f5f5f5 97px, transparent 0),
		linear-gradient(-90deg, #e5e5e5 1px, transparent 0),
		linear-gradient(
			-90deg,
			transparent 4px,
			#f5f5f5 0,
			#f5f5f5 97px,
			transparent 0
		),
		linear-gradient(#e5e5e5 1px, transparent 0), #f5f5f5;
	background-size: 10px 10px, 10px 10px, 100px 100px, 100px 100px, 100px 100px,
		100px 100px, 100px 100px, 100px 100px;
	border: 1px solid #989898;
	display: flex;
}

.pg-container .pg-area {
	flex: 3;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pg-container .pg-menu-container {
	flex: 1;
	padding-top: 30px;
}

.pg-container .pg-menu-container .pg-menu {
	background-color: white;
	display: flex;
	justify-content: center;
}

.pg-container .pg-base-item {
	border: 1px solid #989898;
	background-repeat: no-repeat;
	background-position: center center;
}

.pg-selected-item {
	background-color: #d9effa !important;
	border: 2px solid #1a6891 !important;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.pg-container .pg-base-item:hover {
	cursor: pointer;
}

.pg-item-label {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	overflow: hidden;
}

.pg-menu {
	border-radius: 5px;
	margin: 15px 50px;
	box-shadow: 3px 3px 15px rgb(0 0 0 / 15%);
	font-weight: 300;
	font-size: 14px;
	display: flex;
	flex-direction: column;
}

.pg-menu .pg-menu-add-rm-area {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.pg-menu-add-rm-area button {
	margin: 5px;
	text-transform: none;
}

.pg-menu .pg-menu-share {
	display: flex;
	flex-direction: row;
	padding: 15px 0;
}

.pg-menu-share .pg-menu-share-item {
	flex: 1;
	display: flex;
	justify-content: center;
}

.pg-menu .pg-menu-box {
	border-top: 1px solid #dadada;
	min-height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pg-menu-box .pg-menu-no-data {
	color: #dadada;
	font-size: larger;
	max-width: 70%;
	text-align: center;
}

.pg-menu-input-aligner {
	display: flex;
	flex-direction: row;
}
/* NAVIGATION BAR MENU CSS END */
